body{
  background-color: #fdfd96;
  text-align: center;
}
ul{
  list-style-type: none;
}
ol{
  list-style-type: none;
}
img{
  max-width: 350px;
  max-height: 430px;
}

.listJobTitle{
  text-align:left;
  font-size: 25px;
}
#otherCareers{
  text-align: left;
}
/*  Changes size when at 800px of images */
@media only screen and (max-width:800px ) {
  img{
    max-width: 90%;
  }
  p{
    align-items: baseline;
  }
}
